@import "compass/css3";

.gallery {
  width: 600px;
  padding: 5px;
  overflow: scroll;
  max-height: 700px;
  background-color: #fafafa;
}
.gallery > div {
  position: relative;
  float: inherit;
  padding: 5px;
  display: grid;
  grid-template-columns: 1;
  justify-content: center;
}
.gallery > div > img {
  max-width: 600px;
  transition: 0.1s transform;
  transform: translateZ(0);
  border: 1px solid grey;
  /* hack */
}
.gallery > div:hover {
  z-index: 1;
}

.cf:before,
.cf:after {
  display: table;
  content: "";
  line-height: 0;
}
.cf:after {
  clear: both;
}
